[submodule "src/dsl"]
	path = src/dsl
	url = git@github.com:kartulita/dsl.git
[submodule "src/directive-proxy"]
	path = src/directive-proxy
	url = git@github.com:kartulita/directive-proxy.git
[submodule "src/image-viewer"]
	path = src/image-viewer
	url = git@github.com:kartulita/image-viewer.git
[submodule "src/fields"]
	path = src/fields
	url = git@github.com:kartulita/fields.git
[submodule "src/validators"]
	path = src/validators
	url = git@github.com:kartulita/validators.git
[submodule "src/transformations"]
	path = src/transformations
	url = git@github.com:kartulita/transformations.git
[submodule "build"]
	path = build
	url = git@github.com:kartulita/hacky-build-system.git
[submodule "src/timeline"]
	path = src/timeline
	url = git@github.com:kartulita/timeline.git
[submodule "src/portal"]
	path = src/portal
	url = git@github.com:kartulita/portal.git
[submodule "src/portal-adapter"]
	path = src/portal-adapter
	url = git@github.com:err-public/portal-adapter.git
