
* {
	box-sizing: border-box;
}

html,
body {
	font-family: sans-serif;
	font-size: 16px;
	background: gray;
}

.todo-app,
.todo-app>* {
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0;
	overflow: hidden;
}

.todo-app {
	display: block;
	background: dodgerblue;
}

.todo-app>* {
	background: lightcyan;
}

.todo-app h1 {
	text-align: center;
	font-size: 24px;
}

.todo-app .toolbar {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	padding: 5px 10px 5px 10px;
}

.todo-app fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

.todo-app .toolbar+.toolbar {
	border-top: none;
}

.todo-app .toolbar>* {
	margin: 2px;
}

.todo-app .toolbar>label {
	margin-left: 10px;
	margin-right: 5px;
}

.todo-app .toolbar>label:after {
	content: ':'
}

.todo-app .toolbar>.spacer {
	width: 5px;
}

.todo-app .buttons {
	border: 0px;
	border-radius: 0;
	float: right;
	clear: right;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.todo-app .bottom {
	float: none;
	clear: none;
	padding: 10px;
}

.todo-app input[type=button] {
	border-radius: 5px;
}

.todo-app .todo-lists {
	flex: 1 1 400px;
}

.todo-app .todo-list {
	flex: 1 0 600px;
}

.todo-app .list-box {
	overflow-x: auto;
	overflow-y: auto;
	background: white;
	height: 270px;
}

.todo-app .list-box .list-item {
	padding: 10px;
	background: skyblue;
}

.todo-app .list-box .list-item.selected {
	background: steelblue;
	color: white;
	border: none;
}

.todo-app .list-box .list-item.done {
}

.todo-app .list-box .list-item.transient {
	font-style: italic;
}

.todo-app .list-box .list-item.transient:after {
	content: '*';
}

.todo-app .todo-list-item-is-done {
	display: none;
}

.todo-app .todo-list-item-name-text {
	padding-right: 200px;
}

.todo-app .todo-list-item-name-text:before {
	font-family: 'FontAwesome';
	content: '\f096';
	margin: 10px;
	margin-left: 0;
}

.todo-app .done .todo-list-item-name-text:before {
	content: '\f046';
}
