<!doctype html>
<html lang="en" ng-app="demoApp">
<head>
	<meta charset="utf8">
	<title>Test</title>
	<link rel="stylesheet" href="sanwebe-6/form_style.css">
	<!-- Underscore -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<!-- Angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular.min.js"></script>
	<!-- Angular bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>
	<!-- Utils polyfill -->
	<script>angular.module('utils', []).factory('_', function () { return _; });</script>
	<!-- Module -->
	<script src="../module.js"></script>
	<script src="../directive-proxy-service.js"></script>
	<script src="../hint-parse-service.js"></script>
	<script src="../field-facade.js"></script>
	<script src="../choice-facade.js"></script>
	<script src="../drop-down-list-directive.js"></script>
	<script src="../radio-group-directive.js"></script>
	<script src="../text-box-directive.js"></script>
	<script src="../autocomplete-directive.js"></script>
	<!-- Local -->
	<script src="app.js"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="demoController">
	<form ng-class="config.style">
		<h1>Experiment</h1>
		<fieldset>
			<legend>Style picker</legend>
			<label>Style
				<select ng-model="config.style" ng-options="theme.style as theme.title for theme in config.styles"></select>
			</label>
		</fieldset>
		<fieldset>
			<legend>Field purpose specified only</legend>
			<field:auto name="gender" title="Gender as 'choice'" x-purpose="choice" ng-model="model.gender" x-choices="data.genders"></field:auto>
			<field:auto name="country" title="Country as 'choice'" x-purpose="choice" ng-model="model.country" x-choices="data.countries"></field:auto>
		</fieldset>
			<fieldset>
				<legend>Specify field purpose with hints</legend>
				<field:auto name="gender" title="Gender with hint 'many'" x-purpose="choice" x-hints="many" ng-model="model.gender" x-choices="data.genders"></field:auto>
				<field:auto name="country" title="Country with hint 'not many'" x-purpose="choice" x-hints="not many" ng-model="model.country" x-choices="data.countries"></field:auto>
				<field:auto name="country" title="Country with hint 'custom'" x-purpose="choice" x-hints="many,custom" ng-model="model.country" x-choices="data.countries"></field:auto>
			</fieldset>
			<fieldset>
				<legend>Request specific implementations</legend>
				<field:auto name="gender" title="Gender as 'text-box'" x-purpose="text-box" ng-model="model.gender" x-choices="data.genders"></field:auto>
				<field:auto name="country" title="Country as 'autocomplete'" x-purpose="autocomplete" ng-model="model.country" x-choices="data.countries"></field:auto>
			</fieldset>
		</div>
		<fieldset>
			<legend>Model</legend>
			<pre>{{ model | json }}</pre>
		</fieldset>
		<fieldset>
			<legend>Data</legend>
			<pre>{{ data | json }}</pre>
		</fieldset>
	</form>
</body>
</html>
